.signUp{
    .signUpHeader{
        position: relative;
        // .bubiletLogo{
        //     margin-left: 116px;
        //     h3{
        //         color: white;
        //         margin-top: 50px;
        //     }
        //     p{
        //         color: white;
        //         opacity: 0.50;
        //         font-weight: bold;
        //         margin-top: 10px;
        //     }

        // }
        // .bubiletSignUp{
        //     margin-right: 70px;
        //     .login{
        //         margin-right: 70px;
        //         background-color: white;
        //         width: 280px;
        //         border-radius: 100px;  
        //         background-color: #71E1a6;   
        //         label{
        //             height: 45px;
        //             border: none;
        //             margin: 10px 0 0 25px;
        //             background-color: #71E1a6;
        //             color: white;
        //             font-weight: bold;
        //         }
        //         span{
        //             svg{
        //                 width: 20px;
        //                 height: 20px;
        //             }
        //         }
              
        //     }
        // }
    }
     .signUpMain{
        background-color: #F1F1F1;
        padding: 15px 0 50px 0px; 
        display: flex;
        align-items: center;
      
       
     }
}