.citiesDetail{
    .detailHeader{
        img{
            margin-left: 70px;
        }
        .login{
            margin-right: 70px;
            background-color: white;
            width: 250px;
            border-radius: 100px;  
            background-color: #5BDD96;   
            label{
                height: 40px;
                border: none;
                margin: 10px 0 0 25px;
                background-color: #5BDD96;
                color: white;
            }
        }
        background-color: #2ED87B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        position: relative;
    }
    .detailSearch{
        border: 1px solid gray;
        background-color: white;
        border-radius: 50px;
        width: 700px;
        height: 70px;
        position: absolute;
        top: 115px;
        left: 70px;
        z-index: 1;
        Input{
           width:400px;
           border: none;
           font-size: 18px;
           margin: 15px 0 0 120px;
        }
        Button{
            border: none;
            background-color: white;
            margin-left: 120px;
            transform: scaleX(-1);
            svg{
                width: 30px;
                height: 30px;
                color: gray;
            }
            
        }
    }
    .citiesButton{
        position: absolute;
        top: 115px;
        left:1000px;
        z-index: 1;
        Button{
            height: 70px;
            width: 200px;
            border-radius: 50px;

        }
    }
    .headerLine{
        height: 300px;
        color: #fff;
        text-align: center;
        background: #364d79;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    .category{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        position: absolute;
        top: 430px;
        left: 120px;
        Button{
            width:170px;
            height: 80px;
            border-radius: 25px;
            color: #2ED87B;
            font-weight: bold;
            font-size: 16px;
            margin-right: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            img{
                width: 40px;
                height: 40px;
                margin:  0 6px -13px 0;
            }
            &:hover{
                color: #2ED87B;
                border-radius: 5px solid #2ED87B;
            }
            
        }
       
    }
    .events{
        z-index: -1;
        background-color: #E2E2E2;
        .eventsTitle{
        padding:100px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
        margin-left: 130px;
        font-weight: 500;
        color: #4b4b4b;
        font-size: 27px;
        letter-spacing: 1px;
        margin-left: 125px;
        }
        .eventsButton{
        margin-right:120px;
         button{
            width: 120px;
            height: 50px;
            border-radius: 50px;
            color: #2ED87B;
            background-color: white;
            border: none;
            font-size: 16px;
            letter-spacing: -.6px;
         }
            .trend{
                margin-right: 10px;
            }
        }
        }
        
    }
    .eventsCard{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 1100px;
        margin-left: 100px;
        .cardDetay{
        width: 250px;
        height: 400px;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 23px;
        .cardImg{
            width: 250px;
            height: 200px;
            overflow: hidden;
            margin-bottom: 30px;
            img{
                width: 100%;
                margin-bottom:-50px;
                border-radius: 20px 20px 0 0;
            }
        }
        h2{
            color: #4B4B4B;
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 20px 12px;
        }
        p{
            color: #9D9D9D;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 8px;
          svg{
            width: 15px;
            height: 15px;
            color: #2ED87B;
            margin:0 8px 0 12px;
          }
        }
        .cardLine{
            border:0.5px solid #F5F5F5;
        }
        .date{
            margin-top: 8px;
            svg{
                width: 15px;
                height: 15px;
                color: #4B4B4B;
            }
        }
        button{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 230px;
            background-color: #F5F5F5;
            border: none;
            border-radius: 25px;
            height: 40px;
            margin: 28px 0 0 9px ;
            svg{
                width: 15px;
                height: 15px;
                color: #2ED87B;
            }
            .price{
                color: #2ED87B;
                font-weight: 500;
                font-size: 18px;
            }
        }
        }
    
    }
}