.addFavoritesButton{
    button{
        background-color: #FE4A23;
        color: white;
        text-align: center;
        border: none;
        border-radius: 5px;
        padding: 5px 15px; 
        svg{
            width: 20px;
            height: 20px;
        }
      }
}