.rightBox-menu{
    width: 880px;
    .cities
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;
            cursor: pointer;
            .citiesCard{
                background-color: white;
                text-align: center;
                width: 113px;
                height: 120px;
                color:black;
                border-radius:40px;
                margin: 10px 2px 0 0;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                .plaka{
                    margin: 16px 0 22px 0;
                    font-weight: 700;   
                    font-size: 26px;
                }
                .citiesName{
                    font-size: 13px;
                    line-height: 15px;
                    height: 30px;
                    margin-top: 5px;
              
                }
            }
    
        }
}