*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

.home{
    height: 100½;
    background-color: #2ED87B ;
    color: white;

       .home-container{
        height: 100%;
        display: grid;
        grid-template-columns:1fr 2fr; 
       
    }
}