.header{
    .logo{
        margin-left: 70px;
    }
    .propsText{
        color: white;
        font-size: medium;
    }
    .profileHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 150px 20px 0;
        p{
            color: white;
            font-weight: 600;
            font-size: 20px;
            margin-right: 20px;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
    }
    .login{
        margin-right: 70px;
        background-color: white;
        width: 280px;
        border-radius: 100px;  
        background-color: #71E1a6;   
        label{
            height: 45px;
            border: none;
            margin: 10px 0 0 25px;
            background-color: #71E1a6;
            color: white;
            font-weight: bold;
        }
        span{
            svg{
                width: 20px;
                height: 20px;
            }
        }
      
    }
    background-color: #2ED87B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    position: relative;
}