.favorite{
    text-align: center;
    height: 500px;
    background-color: white;
    background-color: white;
    padding: 100px;
        h3{
            color: #3AD085;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        p{
            color: #4B4B4B;
        }
        button{
            background-color: #3AD085;
            width: 150px;
            height: 40px;
            border-radius: 25px;
            color: white;
            border:none;
            font-weight: bold;
            margin-top: 40px;
        }
}