.leftBox{
    .leftbox-logo{
        img{
            width:170px;
            height: 48px;
            margin: 45px 0 20px 50px;
        }
    }
    .leftBoxHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 30px 20px;
        height: 70px;
        width: 400px;
        background-color: #2ED87B;
        border-radius: 25px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        p{
         font-weight: 600;
         font-size: 30px;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
       }
    .leftBox-search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        background-color: white;
        border-radius: 50px;
        margin-left: 50px;
        width: 350px;
        Input{
            border: none;
            height: 50px;
            width: 200px;
            margin-left: 30px;
            font-size: 20px;
            font-weight: 500;
            :focus{
                border:none;
            }
        }
        Button{
            border: none;
            margin: 0 30px 15px 0;
            height: 20px;
            width: 20px;
            svg{
                height: 30px;
                width: 30px;
                color: darkgray;
            }
            :hover{
                color:#2ED87B;
                cursor: pointer;
            }
        }

     }
     .leftbox-title{
        margin: 50px 0 0 50px;
        h1{
            font-size: 30px;
            font-weight: 700;
        }
        h2{
            margin-top: 30px;
            font-size: 24px;
            line-height: 32px;
        }
        p{
            margin-top: 30px;
            font-size: 23px;
            line-height: 30px;
        }
     }
     .leftbox-button{
        button{
            color:gray;
            background-color: white;
            height: 50px;
            font-size: 16px;
            padding: 0 20px;
            border: none;
            border-radius: 40px;
            margin: 30px 0 0 50px;
        }
     }
}

// * RESPONSİVE */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .leftbox-menu{
        .leftbox-logo{
            img{
                display: none;
            }
        }
        .leftBox-search{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            height: 50px;
            margin-left: 0;
            border-radius: 0;
            padding: 40px;
            .lefBoxSearchButton{
                background-color: white;
                border-radius: 25px;
                width: 100%;
                position: fixed;
            }
        }
        .leftbox-title{
            display: none;
        }
        .leftbox-button{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            border-radius: 0;
            padding: 10px;
            .leftbox-close{
                margin: 0 auto;
                width: 100%;
            }
        }
    }
   
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .leftbox-menu{
        .leftbox-logo{
            img{
                display: none;
            }
        }
        .leftBox-search{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            height: 50px;
            margin-left: 0;
            border-radius: 0;
            padding: 40px;
            .lefBoxSearchButton{
                background-color: white;
                border-radius: 25px;
                width: 100%;
            }
        }
        .leftbox-title{
            display: none;
        }
        .leftbox-button{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            border-radius: 0;
            padding: 10px;
            .leftbox-close{
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .leftbox-menu{
        .leftbox-logo{
            img{
                display: none;
            }
        }
        .leftBox-search{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            height: 50px;
            margin-left: 0;
            border-radius: 0;
            padding: 40px;
            .lefBoxSearchButton{
                background-color: white;
                border-radius: 25px;
                width: 100%;
            }
        }
        .leftbox-title{
            display: none;
        }
        .leftbox-button{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            margin: 0 auto;
            background-color: #2ED87B;
            border-radius: 0;
            padding: 10px;
            .leftbox-close{
                margin: 0 auto;
                width: 100px;
            }
        }
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .leftbox-menu{
        .leftBox-search{
            height: 50px;
            display: flex;
            .lefBoxSearchButton{
             height: 50px;
             width: 300px;
         }
         }
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
 